black==21.6b0
mypy==0.902
mypy-extensions==0.4.3
PyYAML==5.4
pytest==6.2.5
pylama==7.7.1
twine==1.13.0
pysnmp==4.4.12
types-paramiko
types-PyYAML
-r requirements.txt
-r requirements-ttp.txt
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
